/*
 * YapstoneStagedOnBoardingServicesLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package com.yapstone.apiuat.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.core.type.TypeReference;

import com.yapstone.apiuat.*;
import com.yapstone.apiuat.models.*;
import com.yapstone.apiuat.exceptions.*;
import com.yapstone.apiuat.http.client.HttpClient;
import com.yapstone.apiuat.http.client.HttpContext;
import com.yapstone.apiuat.http.request.HttpRequest;
import com.yapstone.apiuat.http.response.HttpResponse;
import com.yapstone.apiuat.http.response.HttpStringResponse;
import com.yapstone.apiuat.http.client.APICallBack;
import com.yapstone.apiuat.controllers.syncwrapper.APICallBackCatcher;

public class MarketplacesController extends BaseController {
    //private static variables for the singleton pattern
    private static final Object syncObject = new Object();
    private static MarketplacesController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the MarketplacesController class 
     */
    public static MarketplacesController getInstance() {
        if (null == instance) {
            synchronized (syncObject) {
                if (null == instance) {
                    instance = new MarketplacesController();
                }
            }
        }
        return instance;
    }

    /**
     * Add a new market place in a given contract.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    body    Required parameter: The market place details
     * @param    xYapstoneFpsid    Optional parameter: Example: 
     * @return    Returns the MarketplaceProductResource response from the API call 
     */
    public MarketplaceProductResource addMarketplaceProduct(
                final String contractId,
                final MarketplaceProductAdd body,
                final String xYapstoneFpsid
    ) throws Throwable {

        HttpRequest _request = _buildAddMarketplaceProductRequest(contractId, body, xYapstoneFpsid);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleAddMarketplaceProductResponse(_context);
    }

    /**
     * Add a new market place in a given contract.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    body    Required parameter: The market place details
     * @param    xYapstoneFpsid    Optional parameter: Example: 
     */
    public void addMarketplaceProductAsync(
                final String contractId,
                final MarketplaceProductAdd body,
                final String xYapstoneFpsid,
                final APICallBack<MarketplaceProductResource> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildAddMarketplaceProductRequest(contractId, body, xYapstoneFpsid);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            MarketplaceProductResource returnValue = _handleAddMarketplaceProductResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for addMarketplaceProduct
     */
    private HttpRequest _buildAddMarketplaceProductRequest(
                final String contractId,
                final MarketplaceProductAdd body,
                final String xYapstoneFpsid) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/contracts/{contractId}/marketplaces");

        //process template parameters
        Map<String, Object> _templateParameters = new HashMap<String, Object>();
        _templateParameters.put("contractId", contractId);
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        if (xYapstoneFpsid != null) {
            _headers.put("x-yapstone-fpsid", xYapstoneFpsid);
        }
        _headers.put("Authorization", Configuration.authorization);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");
        _headers.put("content-type", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().postBody(_queryUrl, _headers, APIHelper.serialize(body));

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for addMarketplaceProduct
     * @return An object of type MarketplaceProductResource
     */
    private MarketplaceProductResource _handleAddMarketplaceProductResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 401) {
            throw new APIException("unauthorized", _context);
        }
        if (_responseCode == 404) {
            throw new APIException("not found", _context);
        }
        if (_responseCode == 500) {
            throw new APIException("internal service error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        MarketplaceProductResource _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<MarketplaceProductResource>(){});

        return _result;
    }

    /**
     * Retrieves an Marketplace Resource from the system for the given contractId and assetId.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    assetId    Required parameter: The unique id of the Asset Resource.
     * @return    Returns the MarketplaceProductResource response from the API call 
     */
    public MarketplaceProductResource getMarketplaceProductByAssetId(
                final String contractId,
                final String assetId
    ) throws Throwable {

        HttpRequest _request = _buildGetMarketplaceProductByAssetIdRequest(contractId, assetId);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleGetMarketplaceProductByAssetIdResponse(_context);
    }

    /**
     * Retrieves an Marketplace Resource from the system for the given contractId and assetId.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    assetId    Required parameter: The unique id of the Asset Resource.
     */
    public void getMarketplaceProductByAssetIdAsync(
                final String contractId,
                final String assetId,
                final APICallBack<MarketplaceProductResource> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildGetMarketplaceProductByAssetIdRequest(contractId, assetId);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            MarketplaceProductResource returnValue = _handleGetMarketplaceProductByAssetIdResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for getMarketplaceProductByAssetId
     */
    private HttpRequest _buildGetMarketplaceProductByAssetIdRequest(
                final String contractId,
                final String assetId) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/contracts/{contractId}/marketplaces/{assetId}");

        //process template parameters
        Map<String, Object> _templateParameters = new HashMap<String, Object>();
        _templateParameters.put("contractId", contractId);
        _templateParameters.put("assetId", assetId);
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("Authorization", Configuration.authorization);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for getMarketplaceProductByAssetId
     * @return An object of type MarketplaceProductResource
     */
    private MarketplaceProductResource _handleGetMarketplaceProductByAssetIdResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 401) {
            throw new APIException("unauthorized", _context);
        }
        if (_responseCode == 404) {
            throw new APIException("not found", _context);
        }
        if (_responseCode == 422) {
            throw new APIException("unprocessable entity", _context);
        }
        if (_responseCode == 500) {
            throw new APIException("internal service error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        MarketplaceProductResource _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<MarketplaceProductResource>(){});

        return _result;
    }

    /**
     * Updates the Marketplace Resource in a given Contract Resource.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    assetId    Required parameter: The unique id of the Asset Resource.
     * @param    body    Required parameter: The Market Resource to be updated.
     * @param    xYapstoneFpsid    Optional parameter: Example: 
     * @return    Returns the MarketplaceProductResource response from the API call 
     */
    public MarketplaceProductResource updateMarketplace(
                final String contractId,
                final String assetId,
                final MarketplaceProductUpdate body,
                final String xYapstoneFpsid
    ) throws Throwable {

        HttpRequest _request = _buildUpdateMarketplaceRequest(contractId, assetId, body, xYapstoneFpsid);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleUpdateMarketplaceResponse(_context);
    }

    /**
     * Updates the Marketplace Resource in a given Contract Resource.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    assetId    Required parameter: The unique id of the Asset Resource.
     * @param    body    Required parameter: The Market Resource to be updated.
     * @param    xYapstoneFpsid    Optional parameter: Example: 
     */
    public void updateMarketplaceAsync(
                final String contractId,
                final String assetId,
                final MarketplaceProductUpdate body,
                final String xYapstoneFpsid,
                final APICallBack<MarketplaceProductResource> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildUpdateMarketplaceRequest(contractId, assetId, body, xYapstoneFpsid);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            MarketplaceProductResource returnValue = _handleUpdateMarketplaceResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for updateMarketplace
     */
    private HttpRequest _buildUpdateMarketplaceRequest(
                final String contractId,
                final String assetId,
                final MarketplaceProductUpdate body,
                final String xYapstoneFpsid) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/contracts/{contractId}/marketplaces/{assetId}");

        //process template parameters
        Map<String, Object> _templateParameters = new HashMap<String, Object>();
        _templateParameters.put("contractId", contractId);
        _templateParameters.put("assetId", assetId);
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        if (xYapstoneFpsid != null) {
            _headers.put("x-yapstone-fpsid", xYapstoneFpsid);
        }
        _headers.put("Authorization", Configuration.authorization);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");
        _headers.put("content-type", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().putBody(_queryUrl, _headers, APIHelper.serialize(body));

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for updateMarketplace
     * @return An object of type MarketplaceProductResource
     */
    private MarketplaceProductResource _handleUpdateMarketplaceResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 401) {
            throw new APIException("unauthorized", _context);
        }
        if (_responseCode == 404) {
            throw new APIException("not found", _context);
        }
        if (_responseCode == 422) {
            throw new APIException("unprocessable entity", _context);
        }
        if (_responseCode == 500) {
            throw new APIException("internal service error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        MarketplaceProductResource _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<MarketplaceProductResource>(){});

        return _result;
    }

    /**
     * deactivate the Marketplace Product Resource.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    assetId    Required parameter: The unique id of the Asset Resource.
     */
    public void deleteDeactivateMarketplaceProduct(
                final String contractId,
                final String assetId
    ) throws Throwable {

        HttpRequest _request = _buildDeleteDeactivateMarketplaceProductRequest(contractId, assetId);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        _handleDeleteDeactivateMarketplaceProductResponse(_context);
    }

    /**
     * deactivate the Marketplace Product Resource.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    assetId    Required parameter: The unique id of the Asset Resource.
     */
    public void deleteDeactivateMarketplaceProductAsync(
                final String contractId,
                final String assetId,
                final APICallBack<Object> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildDeleteDeactivateMarketplaceProductRequest(contractId, assetId);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            _handleDeleteDeactivateMarketplaceProductResponse(_context);
                            callBack.onSuccess(_context, null);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for deleteDeactivateMarketplaceProduct
     */
    private HttpRequest _buildDeleteDeactivateMarketplaceProductRequest(
                final String contractId,
                final String assetId) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/contracts/{contractId}/marketplaces/{assetId}");

        //process template parameters
        Map<String, Object> _templateParameters = new HashMap<String, Object>();
        _templateParameters.put("contractId", contractId);
        _templateParameters.put("assetId", assetId);
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("Authorization", Configuration.authorization);
        _headers.put("user-agent", BaseController.userAgent);


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().delete(_queryUrl, _headers, null);

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for deleteDeactivateMarketplaceProduct
     */
    private void _handleDeleteDeactivateMarketplaceProductResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 401) {
            throw new APIException("unauthorized", _context);
        }
        if (_responseCode == 404) {
            throw new APIException("not found", _context);
        }
        if (_responseCode == 500) {
            throw new APIException("internal service error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);


    }

}
