/*
 * YapstoneStagedOnBoardingServicesLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package com.yapstone.apiuat.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.JsonProcessingException;
import com.fasterxml.jackson.core.type.TypeReference;

import com.yapstone.apiuat.*;
import com.yapstone.apiuat.models.*;
import com.yapstone.apiuat.exceptions.*;
import com.yapstone.apiuat.http.client.HttpClient;
import com.yapstone.apiuat.http.client.HttpContext;
import com.yapstone.apiuat.http.request.HttpRequest;
import com.yapstone.apiuat.http.response.HttpResponse;
import com.yapstone.apiuat.http.response.HttpStringResponse;
import com.yapstone.apiuat.http.client.APICallBack;
import com.yapstone.apiuat.controllers.syncwrapper.APICallBackCatcher;

public class PayoutsController extends BaseController {
    //private static variables for the singleton pattern
    private static final Object syncObject = new Object();
    private static PayoutsController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the PayoutsController class 
     */
    public static PayoutsController getInstance() {
        if (null == instance) {
            synchronized (syncObject) {
                if (null == instance) {
                    instance = new PayoutsController();
                }
            }
        }
        return instance;
    }

    /**
     * Add a payout product in a given contract.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    body    Required parameter: The payout instruments list
     * @param    xYapstoneFpsid    Optional parameter: Example: 
     * @return    Returns the PayoutProductResource response from the API call 
     */
    public PayoutProductResource addPayoutProduct(
                final String contractId,
                final PayoutProductAdd body,
                final String xYapstoneFpsid
    ) throws Throwable {

        HttpRequest _request = _buildAddPayoutProductRequest(contractId, body, xYapstoneFpsid);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleAddPayoutProductResponse(_context);
    }

    /**
     * Add a payout product in a given contract.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    body    Required parameter: The payout instruments list
     * @param    xYapstoneFpsid    Optional parameter: Example: 
     */
    public void addPayoutProductAsync(
                final String contractId,
                final PayoutProductAdd body,
                final String xYapstoneFpsid,
                final APICallBack<PayoutProductResource> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildAddPayoutProductRequest(contractId, body, xYapstoneFpsid);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            PayoutProductResource returnValue = _handleAddPayoutProductResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for addPayoutProduct
     */
    private HttpRequest _buildAddPayoutProductRequest(
                final String contractId,
                final PayoutProductAdd body,
                final String xYapstoneFpsid) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/contracts/{contractId}/payouts");

        //process template parameters
        Map<String, Object> _templateParameters = new HashMap<String, Object>();
        _templateParameters.put("contractId", contractId);
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        if (xYapstoneFpsid != null) {
            _headers.put("x-yapstone-fpsid", xYapstoneFpsid);
        }
        _headers.put("Authorization", Configuration.authorization);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");
        _headers.put("content-type", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().postBody(_queryUrl, _headers, APIHelper.serialize(body));

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for addPayoutProduct
     * @return An object of type PayoutProductResource
     */
    private PayoutProductResource _handleAddPayoutProductResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 401) {
            throw new APIException("unauthorized", _context);
        }
        if (_responseCode == 404) {
            throw new APIException("not found", _context);
        }
        if (_responseCode == 500) {
            throw new APIException("internal service error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        PayoutProductResource _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<PayoutProductResource>(){});

        return _result;
    }

    /**
     * Retrieves an Payout Resource from the system for the given contractId and payoutInstrumentId.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    payoutInstrumentId    Required parameter: The unique id of the  Payout Instrument Resource.
     * @return    Returns the PayoutProductResource response from the API call 
     */
    public PayoutProductResource getPayoutProductByInstrumentId(
                final String contractId,
                final String payoutInstrumentId
    ) throws Throwable {

        HttpRequest _request = _buildGetPayoutProductByInstrumentIdRequest(contractId, payoutInstrumentId);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleGetPayoutProductByInstrumentIdResponse(_context);
    }

    /**
     * Retrieves an Payout Resource from the system for the given contractId and payoutInstrumentId.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    payoutInstrumentId    Required parameter: The unique id of the  Payout Instrument Resource.
     */
    public void getPayoutProductByInstrumentIdAsync(
                final String contractId,
                final String payoutInstrumentId,
                final APICallBack<PayoutProductResource> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildGetPayoutProductByInstrumentIdRequest(contractId, payoutInstrumentId);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            PayoutProductResource returnValue = _handleGetPayoutProductByInstrumentIdResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for getPayoutProductByInstrumentId
     */
    private HttpRequest _buildGetPayoutProductByInstrumentIdRequest(
                final String contractId,
                final String payoutInstrumentId) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/contracts/{contractId}/payouts/{payoutInstrumentId}");

        //process template parameters
        Map<String, Object> _templateParameters = new HashMap<String, Object>();
        _templateParameters.put("contractId", contractId);
        _templateParameters.put("payoutInstrumentId", payoutInstrumentId);
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("Authorization", Configuration.authorization);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for getPayoutProductByInstrumentId
     * @return An object of type PayoutProductResource
     */
    private PayoutProductResource _handleGetPayoutProductByInstrumentIdResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 401) {
            throw new APIException("unauthorized", _context);
        }
        if (_responseCode == 404) {
            throw new APIException("not found", _context);
        }
        if (_responseCode == 500) {
            throw new APIException("internal service error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        PayoutProductResource _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<PayoutProductResource>(){});

        return _result;
    }

    /**
     * Updates the Payout product in the Contract Resource.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    payoutInstrumentId    Required parameter: The unique id of the  Payout Instrument Resource.
     * @param    body    Required parameter: The Payout Resource to be updated.
     * @param    xYapstoneFpsid    Optional parameter: Example: 
     * @return    Returns the PayoutProductResource response from the API call 
     */
    public PayoutProductResource updatePayoutProduct(
                final String contractId,
                final String payoutInstrumentId,
                final PayoutProductResource body,
                final String xYapstoneFpsid
    ) throws Throwable {

        HttpRequest _request = _buildUpdatePayoutProductRequest(contractId, payoutInstrumentId, body, xYapstoneFpsid);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleUpdatePayoutProductResponse(_context);
    }

    /**
     * Updates the Payout product in the Contract Resource.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    payoutInstrumentId    Required parameter: The unique id of the  Payout Instrument Resource.
     * @param    body    Required parameter: The Payout Resource to be updated.
     * @param    xYapstoneFpsid    Optional parameter: Example: 
     */
    public void updatePayoutProductAsync(
                final String contractId,
                final String payoutInstrumentId,
                final PayoutProductResource body,
                final String xYapstoneFpsid,
                final APICallBack<PayoutProductResource> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildUpdatePayoutProductRequest(contractId, payoutInstrumentId, body, xYapstoneFpsid);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            PayoutProductResource returnValue = _handleUpdatePayoutProductResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for updatePayoutProduct
     */
    private HttpRequest _buildUpdatePayoutProductRequest(
                final String contractId,
                final String payoutInstrumentId,
                final PayoutProductResource body,
                final String xYapstoneFpsid) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/contracts/{contractId}/payouts/{payoutInstrumentId}");

        //process template parameters
        Map<String, Object> _templateParameters = new HashMap<String, Object>();
        _templateParameters.put("contractId", contractId);
        _templateParameters.put("payoutInstrumentId", payoutInstrumentId);
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        if (xYapstoneFpsid != null) {
            _headers.put("x-yapstone-fpsid", xYapstoneFpsid);
        }
        _headers.put("Authorization", Configuration.authorization);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");
        _headers.put("content-type", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().putBody(_queryUrl, _headers, APIHelper.serialize(body));

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for updatePayoutProduct
     * @return An object of type PayoutProductResource
     */
    private PayoutProductResource _handleUpdatePayoutProductResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 401) {
            throw new APIException("unauthorized", _context);
        }
        if (_responseCode == 404) {
            throw new APIException("not found", _context);
        }
        if (_responseCode == 422) {
            throw new APIException("unprocessable entity", _context);
        }
        if (_responseCode == 500) {
            throw new APIException("internal service error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        PayoutProductResource _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<PayoutProductResource>(){});

        return _result;
    }

    /**
     * deactivate the Payout Product Resource.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    payoutInstrumentId    Required parameter: The unique id of the  Payout Instrument Resource.
     */
    public void deleteDeactivatePayoutProduct(
                final String contractId,
                final String payoutInstrumentId
    ) throws Throwable {

        HttpRequest _request = _buildDeleteDeactivatePayoutProductRequest(contractId, payoutInstrumentId);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        _handleDeleteDeactivatePayoutProductResponse(_context);
    }

    /**
     * deactivate the Payout Product Resource.
     * @param    contractId    Required parameter: The unique id of the Contract Resource.
     * @param    payoutInstrumentId    Required parameter: The unique id of the  Payout Instrument Resource.
     */
    public void deleteDeactivatePayoutProductAsync(
                final String contractId,
                final String payoutInstrumentId,
                final APICallBack<Object> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildDeleteDeactivatePayoutProductRequest(contractId, payoutInstrumentId);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            _handleDeleteDeactivatePayoutProductResponse(_context);
                            callBack.onSuccess(_context, null);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for deleteDeactivatePayoutProduct
     */
    private HttpRequest _buildDeleteDeactivatePayoutProductRequest(
                final String contractId,
                final String payoutInstrumentId) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/contracts/{contractId}/payouts/{payoutInstrumentId}");

        //process template parameters
        Map<String, Object> _templateParameters = new HashMap<String, Object>();
        _templateParameters.put("contractId", contractId);
        _templateParameters.put("payoutInstrumentId", payoutInstrumentId);
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("Authorization", Configuration.authorization);
        _headers.put("user-agent", BaseController.userAgent);


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().delete(_queryUrl, _headers, null);

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for deleteDeactivatePayoutProduct
     */
    private void _handleDeleteDeactivatePayoutProductResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 401) {
            throw new APIException("unauthorized", _context);
        }
        if (_responseCode == 404) {
            throw new APIException("not found", _context);
        }
        if (_responseCode == 500) {
            throw new APIException("internal service error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);


    }

}
