/*
 * YapstoneStagedOnBoardingServicesLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package com.yapstone.apiuat.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.type.TypeReference;

import com.yapstone.apiuat.*;
import com.yapstone.apiuat.models.*;
import com.yapstone.apiuat.exceptions.*;
import com.yapstone.apiuat.http.client.HttpClient;
import com.yapstone.apiuat.http.client.HttpContext;
import com.yapstone.apiuat.http.request.HttpRequest;
import com.yapstone.apiuat.http.response.HttpResponse;
import com.yapstone.apiuat.http.response.HttpStringResponse;
import com.yapstone.apiuat.http.client.APICallBack;
import com.yapstone.apiuat.controllers.syncwrapper.APICallBackCatcher;

public class SearchController extends BaseController {
    //private static variables for the singleton pattern
    private static final Object syncObject = new Object();
    private static SearchController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the SearchController class 
     */
    public static SearchController getInstance() {
        if (null == instance) {
            synchronized (syncObject) {
                if (null == instance) {
                    instance = new SearchController();
                }
            }
        }
        return instance;
    }

    /**
     * Get all the offerings for a given assetListing
     * @param    assetListingId    Required parameter: Example: 
     * @return    Returns the OfferingResponse response from the API call 
     */
    public OfferingResponse getOfferingsByAssetListing(
                final String assetListingId
    ) throws Throwable {

        HttpRequest _request = _buildGetOfferingsByAssetListingRequest(assetListingId);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleGetOfferingsByAssetListingResponse(_context);
    }

    /**
     * Get all the offerings for a given assetListing
     * @param    assetListingId    Required parameter: Example: 
     */
    public void getOfferingsByAssetListingAsync(
                final String assetListingId,
                final APICallBack<OfferingResponse> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildGetOfferingsByAssetListingRequest(assetListingId);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            OfferingResponse returnValue = _handleGetOfferingsByAssetListingResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for getOfferingsByAssetListing
     */
    private HttpRequest _buildGetOfferingsByAssetListingRequest(
                final String assetListingId) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/search/assetListing/{assetListingId}/offerings");

        //process template parameters
        Map<String, Object> _templateParameters = new HashMap<String, Object>();
        _templateParameters.put("assetListingId", assetListingId);
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("Authorization", Configuration.authorization);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for getOfferingsByAssetListing
     * @return An object of type OfferingResponse
     */
    private OfferingResponse _handleGetOfferingsByAssetListingResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if ((_responseCode < 200) || (_responseCode > 208)) {
            throw new APIException("Unexpected Error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        OfferingResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<OfferingResponse>(){});

        return _result;
    }

    /**
     * Fetch an Offering using ID.
     * @param    entityId    Required parameter: Example: 
     * @return    Returns the OfferingResponse response from the API call 
     */
    public OfferingResponse getOfferingByEntityId(
                final String entityId
    ) throws Throwable {

        HttpRequest _request = _buildGetOfferingByEntityIdRequest(entityId);
        HttpResponse _response = getClientInstance().executeAsString(_request);
        HttpContext _context = new HttpContext(_request, _response);

        return _handleGetOfferingByEntityIdResponse(_context);
    }

    /**
     * Fetch an Offering using ID.
     * @param    entityId    Required parameter: Example: 
     */
    public void getOfferingByEntityIdAsync(
                final String entityId,
                final APICallBack<OfferingResponse> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                HttpRequest _request;
                try {
                    _request = _buildGetOfferingByEntityIdRequest(entityId);
                } catch (Exception e) {
                    callBack.onFailure(null, e);
                    return;
                }

                // Invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {
                            OfferingResponse returnValue = _handleGetOfferingByEntityIdResponse(_context);
                            callBack.onSuccess(_context, returnValue);
                        } catch (Exception e) {
                            callBack.onFailure(_context, e);
                        }
                    }

                    public void onFailure(HttpContext _context, Throwable _exception) {
                        // Let the caller know of the failure
                        callBack.onFailure(_context, _exception);
                    }
                });
            }
        };

        // Execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Builds the HttpRequest object for getOfferingByEntityId
     */
    private HttpRequest _buildGetOfferingByEntityIdRequest(
                final String entityId) throws IOException, APIException {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri + "/search/offerings/{entityId}");

        //process template parameters
        Map<String, Object> _templateParameters = new HashMap<String, Object>();
        _templateParameters.put("entityId", entityId);
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, _templateParameters);
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>();
        _headers.put("Authorization", Configuration.authorization);
        _headers.put("user-agent", BaseController.userAgent);
        _headers.put("accept", "application/json");


        //prepare and invoke the API call request to fetch the response
        HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        // Invoke the callback before request if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        return _request;
    }

    /**
     * Processes the response for getOfferingByEntityId
     * @return An object of type OfferingResponse
     */
    private OfferingResponse _handleGetOfferingByEntityIdResponse(HttpContext _context)
            throws APIException, IOException {
        HttpResponse _response = _context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallBack() != null) {
            getHttpCallBack().OnAfterResponse(_context);
        }

        //Error handling using HTTP status codes
        int _responseCode = _response.getStatusCode();

        if (_responseCode == 404) {
            throw new APIException("Not Found", _context);
        }
        if ((_responseCode < 200) || (_responseCode > 208)) {
            throw new APIException("Unexpected Error", _context);
        }
        //handle errors defined at the API level
        validateResponse(_response, _context);

        //extract result from the http response
        String _responseBody = ((HttpStringResponse)_response).getBody();
        OfferingResponse _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<OfferingResponse>(){});

        return _result;
    }

}
